


header {
    background-color: papayawhip;
    border: black solid 2px;
    


}


.form {
    background-color: dodgerblue;
    border: black solid 2px;

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(4, auto);
    justify-items: center;
    align-items: center;
    

}
.formulario{
    background-color: yellowgreen;
    border: blacksolid 2px;

    display: grid;
    grid-template-columns: auto;
    align-content: center;
    justify-content: space-between;
}

.promo {
    background-color: gold;
    
    
}

footer {
    background-color: red;
    border: black solid 2px;
    display: grid;


    display: grid;
    grid-template-columns: repeat(3,25%);
    justify-content: space-around;
    align-items: center;
    justify-items: center;
}


